* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul {
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


body {
    background-color:  hsl(185, 75%, 39%);
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

hr {
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    width: 330px;
    height: 350px;
}

.card .informacoes-perfil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 100%;

}



.card .informacoes-perfil img {
    border-radius: 50%;
    margin-top: 20px;
}

.card .numeros-do-perfil {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
}

.numeros-do-perfil .info .numero, .card .informacoes-perfil p {
    font-weight: 700;
}

.card .informacoes-perfil .idade, .card .informacoes-perfil .cidade, .numeros-do-perfil .info .tipo-de-numero {
    color: hsl(227, 10%, 46%);
}